/* this needs some cleaning */

html {
    scroll-behavior: smooth;
}
.wy-nav-content-wrap {
    background: #090d17;
}
.wy-nav-content {
    background: #1c1f2b;
    color: rgb(238, 238, 255);
}
p {
    margin-bottom: 1em;
    font-size: 14px;
}
a.current {
    font-weight: 600;
}
.wy-menu-vertical ul.tocbase li a {
    color: #404040;
}
h1 {
    font-family: "range";
    font-size: 2em;
}
h2 {
    font-size: 1.6em;
}
h3 {
    font-size: 1.4em;
}
h4 {
    font-size: 1.2em;
}
h5 {
    font-size: 1.1em;
}
h2,
h3,
h4,
h5 {
    font-family: "range";
    margin-top: 1.8em;
    margin-bottom: 0.8em;
}

code,
.rst-content tt,
.rst-content code {
    white-space: pre-wrap !important;
    font-family: "range_monomedium", Consolas, monospace;
    line-height: 160%;
    font-size: 0.9em;
    border-radius: 4px;
    border-width: 0px;
    background: #fff;
    color: #000;
    padding: 2px, 2px, 2px, 2px;
}
.hljs {
    padding-left: 1em !important;
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
/* sadly, this won't work with the way it generates the HTML code block
as it doesn't generate the lines separately */
/* .py.hljs.python::before {
    counter-increment: line;
    content: counter(line);
    display: inline-block;
    width: 1em
} */
body {
    text-rendering: optimizeLegibility;
    font-size: 14px;
    image-rendering: optimizeQuality;
    font-family: "rangeregular";
}
body a:visited {
    color: #2980b9;
}
body a:hover {
    text-decoration: underline;
}
/* for the 'Fansubbing Guide' text at top left nav */
.wy-side-nav-search > a,
.wy-side-nav-search .wy-dropdown > a {
    color: #fcfcfc !important;
}
.wy-side-nav-search {
    background: #1c1f2b;
}
.wy-nav-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 90em;
}
h1 {
    border-bottom: 2px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 0.3em;
}
/* <kbd> styling */
kbd {
    background-color: rgb(250, 251, 252);
    border-radius: 3px;
    border: rgb(209, 213, 218) solid 1px;
    box-shadow: rgb(198, 203, 209) -1px -1px 0.1px 0.2px inset;
    display: inline-block;
    font-size: 0.9em;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    font-weight: 400;
    padding: 0.2em 0.2em;
    line-height: 1em;
    vertical-align: middle;
}
/* special keyboard button styling, see index.md */
kbdc {
    background-color: rgb(250, 251, 252);
    border-radius: 4px;
    border: rgb(209, 213, 218) solid 1px;
    box-shadow: rgb(198, 203, 209) -1px -1px 0.1px 0.2px inset;
    display: inline-block;
    font-size: 1em;
    font-family: "Hasklig", "Lato", "proxima-nova", "Helvetica Neue", Arial,
        sans-serif;
    font-variant-caps: unicase;
    font-weight: 600;
    padding: 0.2em 0.45em;
    line-height: 1em;
    vertical-align: center;
    color: #000;
}
kbtn {
    display: inline-block;
    border-radius: 2px;
    line-height: normal;
    white-space: nowrap;
    text-align: center;
    cursor: normal;
    font-size: 90%;
    padding: 4px 8px 5px 8px;
    color: #404040 !important;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: rgb(243, 246, 246);
    text-decoration: none;
    font-weight: normal;
    font-family: "Lato", "proxima-nova", "Helvetica Neue", Arial, sans-serif;
    box-shadow: 0px 1px 2px -1px rgba(255, 255, 255, 0.5) inset,
        0px -2px 0px 0px rgba(0, 0, 0, 0.1) inset;
    outline-none: false;
    vertical-align: middle;
    *display: inline;
    zoom: 1;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    transition: all 0.1s linear;
}

/* image hovering shadow */
/* image hovering shadow/zoom */
img:hover {
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 100;
    /* will dim entire display except picture and sidebar */
    /* box-shadow: 0px 0px 10000px 10000px rgba(0, 0, 0, 0.4);*/
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.8);
    max-width: 100% !important;
    transition-delay: 300ms;
    transition-duration: 300ms;
    transition-timing-function: ease-in;
    margin-left: auto;
    margin-right: auto;
}
/* centering images with CSS instead of in-line HTML */
/* also reverses hovering shadow/zoom transition */
img {
    position: relative;
    display: block;
    margin-left: auto;
    margin-right: auto;
    transition-delay: 50ms;
    transition-duration: 150ms;
    transition-timing-function: ease-out;
    max-width: 60% !important;
}
@media (max-width: 1240px) {
    .markdown-section img {
        max-width: 100%;
    }
    img:hover {
        box-shadow: 0px 0px 0px 0px rgba(0, 0, 0, 0);
    }
}
hr {
    color: rgba(255, 255, 255, 0.2);
    border-top: 1px solid rgba(255, 255, 255, 0.2);
}
.wy-breadcrumbs::after {
    margin-bottom: 1.5em;
}
